:root {
  --primary-color: #daffdc;
  --secondary-color: #089611;
  --font-color-primary: #000;
}

body {
  font-family: "Overpass", sans-serif;
}

.custom-navbar {
  background-color: var(--primary-color) !important;
}
