:root {
  --primary-color: #daffdc;
  --secondary-color: #089611;
  --font-color-primary: #000;
}

body {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.custom-navbar {
  background-color: var(--primary-color) !important;
  height: 10vh;
}

.intro {
  background-color: var(--primary-color);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.intro h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
}

.intro span,
.intro h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

.skills {
  padding: 3em 0 3em 0;
}

.skills i {
  font-size: 50px;
  color: var(--secondary-color);
}

.skills-icons {
  display: flex;
  justify-content: space-between;
}

.recent-work {
  margin-bottom: 12em;
}

.btn-color {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-color:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2em;
}

footer a {
  text-decoration: none;
  color: var(--font-color-primary);
}

footer a:hover {
  color: var(--secondary-color);
}

@media (max-width: 992px) {
  .who {
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer * {
    margin: 0.5em;
  }

  .seperator {
    display: none;
  }
}
