:root {
  --primary-color: #daffdc;
  --secondary-color: #06630c;
  --font-color-primary: #000;
}

body {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

/* NAV CUSTOM STYLES */
.custom-navbar {
  background-color: var(--primary-color) !important; /* Custom background */
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  color: var(--secondary-color) !important; /* Custom text color */
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: var(--font-color-primary) !important; /* Darker text color on hover */
}

.custom-navbar .navbar-toggler {
  color: var(--font-color-primary) !important; /* Custom toggle button color */
  border-color: rgba(0, 0, 0, 0.1); /* Border color for the toggle button */
}

/* END OF NAV CUSTOM STYLES */

/*Home Page Custom Edits*/
.intro {
  background-color: var(--primary-color);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.skills {
  padding: 3em 0 3em 0;
}

.skills-icons {
  display: flex;
  justify-content: space-between;
}

.recent-work {
  margin-bottom: 12em;
}

/* END OF HOME PAGE CUSTOME EDITS*/

/* GLOBAL STYLING */

.heading-one {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
}

.intro-hello,
.heading-two {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

i {
  font-size: 48px;
  color: var(--secondary-color);
}

.btn-color {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-color:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* END OF GLOBAL STYLE */

/* ABOUT PAGE CUSTOM EDITS */
.about-page {
  height: 100%;
}

.about-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-intro p {
  line-height: 1.6;
}
/* END OF ABOUT PAGE CUSTOM EDITS */

/* FOOTER STYLES */
footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2em;
}

footer a {
  text-decoration: none;
  color: var(--font-color-primary);
}

footer a:hover {
  color: var(--secondary-color);
}

/* END OF FOOTER STYLES */

/* Custom Styles for Screen Sizes */
@media (max-width: 992px) {
  .who {
    display: block;
  }

  .skills i {
    font-size: 42px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer * {
    margin: 0.5em;
  }

  .seperator {
    display: none;
  }
}
